@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

body {
  @apply text-13 leading-16 tracking-normal text-white-100 bg-black overflow-hidden;
}

#root {
  @apply flex flex-col min-h-screen;
}

::-ms-clear {
  display: none;
}

/* :active {
  -webkit-tap-highlight-color: transparent;
}
 */

button:focus,
:focus {
  outline: none;
}
